*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:"Roboto";
}

html,body{
	height: 100%;
	width: 100%;
}

.clear{
	clear: both;
}

.container{
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 2%;
}

/* site */

.nav-mobile{
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	background-color: #00daaa;
	text-align: center;
	-webkit-box-shadow: 2px 3px 25px -7px rgba(0,0,0,1);
	-moz-box-shadow: 2px 3px 25px -7px rgba(0,0,0,1);
	box-shadow: 2px 3px 25px -7px rgba(0,0,0,1);
}

.nav-mobile a{
	display: inline-block;
	text-decoration: none;
	width: 100%;
	font-size: 22px;
	padding: 10px 0;
	color: white;
}

.nav-mobile a:hover{
	color: #509d87;
}

.nav-mobile i{
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 25px;
	color: white;
	cursor: pointer;
}

.nav-mobile i:hover{
	color: #509d87;
}

.menu-icon{
	margin-top: 25px;
	float: right;
	width: 32px;
	height: 32px;
	display: none;
}

.menu-icon i{
	width: 100%;
	height: 100%;
	display: block;
	font-size: 32px;
	color: #509d87;
	cursor: pointer;
}

section.header-master{
	width: 100%;
	padding: 30px 0;
	min-height: 800px;
	background-image: url('../images/bg_01.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section.header-master header{
	border-bottom: 2px solid rgba(71, 83, 88,0.1);
	padding-bottom: 20px;
}

header .logo{
	float: left;
	width: 100px;
	height: 100px;
	background-image: url('../images/logo2.png');
	background-size: 100% 100%;
}

header nav.nav-desktop{
	margin-top: 40px;
	float: left;
	padding-left: 90px;
}

header nav ul{
	list-style-type: none;
}

header nav li{
	font-size: 18px;
	float: left;
	padding: 0 20px;
	color: white;
	transition: all 0.3s;
}

header li > a{
	color: inherit;
	text-decoration: none;
}

header li.selected{
	position: relative;
	color: #509d87;
}

li span{
	position: absolute;
	bottom: 0;
	width: 17px;
	height: 2px;
	background-color: #509d87;
}

.telefone-header{
	margin-top: 40px;
	position: relative;
	top: -4px;
	float: left;
	font-size: 22px;
	color: white;
	padding-left: 30px;
}

.content-header{
	padding: 70px 0;
}

.content-header .one{
	float: left;
	width: 50%;
}

.content-header .two{
	float: left;
	width: 50%;
	padding: 0 30px;
}

.content-header .one h2{
	color: #509d87;
	font-weight: normal;
	font-size: 37px;
}

.content-header .one p{
	margin-top: 20px;
	font-size: 16px;
}

.content-header .one span{
	display: block;
	margin-top: 10px;
	color: #509d87;
	font-size: 13px;
}

.content-header .one form{
	margin-top: 30px;
}

.content-header .one input{
	display: inline-block;
}

.content-header .one form input[type=email]{
	width: 251px;
	height: 45px;
	border: 2px solid #ccc;
	border-radius: 100px;
	padding-left: 30px;
}

.content-header .one form input[type=email]:focus{
	outline: 0;
}

.content-header .one form input[type=submit]{
	background-color: #00daaa;
	color: white;
	cursor: pointer;
	border: 0;
	height: 45px;
	padding: 0 30px;
	font-size: 17px;
	border-radius: 30px;
}

.content-header .one form input[type=submit]:focus{
	outline: 0;
	border: 0;
}

.content-header .two img{
	display: block;
	float: left;
	width: 50%;
	border: 10px solid rgba(0,0,0,0);
}


section.diferenciais .container{
	display: flex;
	flex-wrap: wrap;
}

section.diferenciais{
	padding: 40px 0;
}

section.diferenciais .diferencial-single{
	width: 33.3%;
	margin-bottom: 20px;
	padding: 0 20px;
}

.diferencial-single img{
	max-width: 100%;
}

.diferencial-single h2{
	color: black;
	margin: 30px 0;
	font-size: 30px;
}

.diferencial-single h2 > span{
	color: #7dd5b0;
}

.diferencial-single p{
	color: #2d2d2d;
	font-size:14px;
	font-weight: bold;	
}

section.sobre > .container{
	max-width: 1480px;
}

section.sobre .foto-sobre{
	width: 100%;
	padding-top: 70%;
	background-image: url('../images/rosto.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
 
section.sobre .sobre-container{
	float: left;
	width: 50%;
}

section.sobre .texto-sobre{
	width: 100%;
	padding: 5px 40px;
}

.texto-sobre > h2{
	max-width: 440px;
	font-size: 33px;
	font-weight: normal;
	color: #a9c4b8;
	margin-bottom: 20px;
	line-height: 1.1;
}

.texto-sobre > p{
	font-size: 16px;
	max-width: 420px;
}

.texto-sobre > h3{
	font-size: 28px;
	font-weight: normal;
	color: #a9c4b8;
	margin-bottom: 20px;
	margin-top: 20px;
	max-width: 441px;
	line-height: 1.1;
}

.texto-sobre > h3 > span{
	font-weight: bold;
	color: #03ca9f;
}


section.depoimento{
	min-height: 300px;
	padding-top: 200px;
	padding-bottom: 300px;
	background-image: url('../images/bg_02.png');
	color: #2d2d2d;
}

section.depoimento .container{
	text-align: center;
}

.mensagem-depoimento{
	display: inline-block;
	padding: 10px;
}

.mensagem-depoimento i{
	font-size: 32px;
	color: #03ca9f;
	position: relative;
	top: -5px;
	margin-right: 10px;
	margin-left: 10px;
}

.mensagem-depoimento h2{
	display: inline-block;
	padding: 0 10px;
	font-weight: normal;
	font-size: 26px;
}

.mensagem-depoimento p{
	margin-top: 10px;
	font-size: 16px;
	color: #000;
}

section.etapas{
	padding: 40px 0;
}

section.etapas > .container{
	max-width: 1280px;
}

section.etapas .container > h2{
	text-align: center;
	font-weight: normal;
	color: #3b3e42;
}


.etapas_single{
	float: left;
	width: 50%;
}

.etapas_group{
	width: 100%;
}

.etapas_group img{
	float: left;
	width: 50%;
}

.etapas_group:nth-of-type(2) img{
	float: right;
}

.etapas_group p{
	float: left;
	margin-left: 40px;
	margin-top: 90px;
	color: #509d87;
}

.etapas_group:nth-of-type(2) p{
	display: none;
}

.etapas_group:nth-of-type(3) p{
	display: none;
}



.etapas_group2-parent{
	padding: 60px;
}

.etapas_group2{
	width: 100%;
	margin-bottom: 40px;
}

.circle{
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #ccc;
	position: relative;
}

.line{
	position: absolute;
	left: 50%;
	top: 100px;
	width: 1px;
	height: 40px;
	z-index: 1;
	background-color: black;
}

.circle span{
	font-size: 30px;
	color:#03ca9f; 
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.etapas_descricao{
	float: left;
	padding: 0 20px;
	width: calc(100% - 100px);
	margin-top: 20px;
}

.etapas_descricao h3{
	color: #03ca9f;
	margin-bottom: 5px;
	font-size: 18px;
}

.etapas_descricao p{
	color: #2d2d2d;
	font-weight: bold;
	font-size: 14px;
}

section.comparacao{
	padding: 70px 0;
}

section.comparacao .container > h2{
	text-align: center;
	font-weight: normal;
	font-size: 30px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

section.comparacao .container > h2 > span{
	color:#03ca9f; 
}

.comparacao-parent{
	display: flex;
	flex-wrap: nowrap;
}

.comparacao-single{
	width: 50%;
	text-align: center;
	padding: 30px 0;
}

.comparacao-single > h2{
	margin-bottom: 20px;
	color: #a9c4b8;
	font-size: 30px;
	font-weight: normal;
}

.comparacao-single:nth-of-type(1){
	border-right: 1px solid #646464;
}

.logo-invisalign{
	position: relative;
	top: -10px;
	width: 200px;
	height: 50px;
	margin: 0 auto;
	background-image: url('../images/invisalign.jpg');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 20px;
}

.comparacao-item{
	display: inline-block;
	padding: 10px 0;	
	position: relative;
}

.comparacao-line{
	position: absolute;
	width:100%;
	height: 2px;
	background-color: #e89595;
	top: 20px;
	left:0;
	transform: rotate(-3deg);
}

.comparacao-item > p{
	font-size: 20px;
	color: #a9c4b8;
	font-weight: bold;
}

.comparacao-single:nth-of-type(2) > p{
	padding: 7px 0;
	color: #7dd5b0;
	font-size:20px;
}


section.contato{
	padding: 40px 0;
	background-color: #98fcde;
}

section.contato > .container{
	max-width: 800px;
}

section.contato h2{
	text-align: center;
	color: #509d87;
	font-size: 24px;
	margin-bottom: 20px;
}

section.contato input[type=text]{
	width: 100%;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #ccc;
	padding-left: 15px;
}

section.contato .form-group{
	padding: 10px 0;
}

section.contato textarea{
	max-width: 800px;
	width: 100%;
	height: 120px;
	resize: none;
	padding-left: 15px;
	line-height: 30px;
	border-radius: 20px;
}


section.contato input[type=text]:focus{
	outline: 0;
}

section.contato textarea:focus{
		outline: 0;
}

section.contato input[type=submit]{
	display: block;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	border-radius: 20px;
	background-color: #509d87;
	outline: none;
	border: none;
	cursor: pointer;
}

footer{
	text-align: center;
	padding: 20px 0;
	background-color: #509d87;
}

footer img{
	display: inline-block;
}












/* Design Responsive */


@media screen and (max-width: 1280px){

	.etapas_group{	
		text-align: center;
		width: 100%;
		padding: 20px;
	}

	.etapas_group img{
		margin-right: 40px;
		float: none;
		width: 30%;
		float: right;
	}

	.etapas_group:nth-of-type(2) img{
		margin-right: 0;
		float: left;
	}

	.etapas_single{
		float: none;
		width: 100%;
	}

	.etapas_group:nth-of-type(1) p{
		display: block;
		float: left;
		width: 150px;
		margin-top: 90px;
		margin-left: 200px;
		font-size: 22px;
		color: #03ca9f; 
	}

	.etapas_group:nth-of-type(2) p{
		display: block;
		float: left;
		width: 400px;
		margin-top: 70px;
		color: #03ca9f; 
		margin-left: 10%;
		font-size: 22px;

	}

	.etapas_group:nth-of-type(3) p{
		display: block;
		float: left;
		width: 400px;
		margin-top: 120px;
		color: #03ca9f; 
		font-size: 22px;
		margin-left: 100px;
	}
}

@media screen and (max-width: 1024px){

	section.header-master{
		padding: 30px 0;
		min-height: 900px;
	}

	header nav li{
		font-size: 16px;
		padding: 0 20px;
	}

	.telefone-header{
		font-size: 15px;
		position: relative;
		top: 0px;
	}


	.content-header .one h2{
		font-size: 32px;
	}

	.content-header .one p{
		margin-top: 20px;
		font-size: 14px;
	}

	.content-header .one span{
		display: block;
		margin-top: 10px;
		color: #509d87;
		font-size: 13px;
	}

	.content-header .one form{
		margin-top: 10px;
	}

	.content-header .one input{
		display: inline-block;
	}

	.content-header .one form input[type=email]{
		margin: 5px 0;
	}

	.content-header .one form input[type=submit]{
		margin: 5px 0;
	}

	.mensagem-depoimento i{
		font-size: 28px;
	}

	.mensagem-depoimento h2{
		font-size: 22px;
	}

	.mensagem-depoimento p{
		font-size: 15px;
	}



}

@media screen and (max-width: 960px){
	.telefone-header{
		display: none;
	}

	header nav li{
		font-size: 18px;
		float: left;
		padding: 0 10px;
		color: white;
		transition: all 0.3s;
	}

	.mensagem-depoimento i{
		font-size: 26px;
	}

	.mensagem-depoimento h2{
		font-size: 20px;
	}

	.mensagem-depoimento p{
		font-size: 14px;
	}

	.etapas_group:nth-of-type(1) p{
		margin-top: 60px;
		margin-left: 150px;
		font-size: 20px;
	}

	.etapas_group:nth-of-type(2) p{
		margin-top: 80px;
		margin-left: 10%;
		font-size: 20px;

	}

	.etapas_group:nth-of-type(3) p{;
		margin-top: 90px;
		color: #03ca9f; 
		font-size: 20px;
		margin-left: 0;
	}
}

@media screen and (max-width: 768px){

	section.header-master header{
		border-bottom: 1px solid rgba(71, 83, 88,0.1);
		padding-bottom: 10px;
	}

	section.header-master{
		width: 100%;
		padding: 30px 0;
		min-height: 700px;
	}

	.nav-desktop{
		display: none;
	}

	.menu-icon{
		display: block;
	}

	.content-header{
		padding: 70px 4%;
	}

	.content-header .one{
		float: none;
		width: 100%;
	}

	.content-header .two{
		float: none;
		width: 100%;
		display: none;
	}

	.content-header .one h2{
		font-size: 37px;
	}

	.content-header .one p{
		margin-top: 20px;
		font-size: 16px;
	}

	.content-header .one span{
		display: block;
		margin-top: 10px;
		color: #509d87;
		font-size: 13px;
	}

	.content-header .one form{
		margin-top: 30px;
	}

	.content-header .one input{
		display: inline-block;
	}

	.content-header .one form input[type=email]{
		width: 251px;
		height: 45px;
		border: 3px solid #ccc;
		border-radius: 100px;
		padding-left: 30px;
	}

	.content-header .one form input[type=email]:focus{
		outline: 0;
	}

	.content-header .one form input[type=submit]{
		background-color: #00daaa;
		color: white;
		cursor: pointer;
		border: 0;
		height: 45px;
		padding: 0 30px;
		font-size: 17px;
		border-radius: 30px;
	}
	
	section.diferenciais .container{
		display: flex;
		flex-wrap: wrap;
	}

	section.diferenciais .diferencial-single{
		width: 100%;
		margin-bottom: 20px;
		padding: 0 20px;
		text-align: center;
	}


	.diferencial-single img{
		max-width: 100%;
		display: inline-block;
	}

	.diferencial-single h2{
		color: black;
		margin: 30px 0;
		font-size: 30px;
	}

	.diferencial-single h2 > span{
		color: #7dd5b0;
	}

	.diferencial-single p{
		color: #2d2d2d;
		font-size:14px;
		font-weight: bold;
	}


	section.sobre .foto-sobre{
		width: 100%;
		padding-top: 70%;
		background-position: right;
	}
 
	section.sobre .sobre-container{
		float: none;
		width: 100%;
	}

	section.sobre .texto-sobre{
		width: 100%;
		text-align: center;
		padding:30px 0;
	}

	.texto-sobre > h2{
		max-width: 440px;
		font-size: 30px;
		margin-bottom: 20px;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.texto-sobre > p{
		margin-left: auto;
		margin-right: auto;
	}

	.texto-sobre > h3{
		font-size: 26px;
		margin-bottom: 20px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}


	.mensagem-depoimento h2{
		display: inline-block;
		padding: 0 5px;
		font-weight: normal;
		max-width: 500px;
		font-size: 26px;
	}

	.etapas_group{	
		text-align: center;
		width: 100%;
		padding: 20px;
	}

	.etapas_group img{
		margin-right:0;
		width: 40%;
		float: none;
	}

	.etapas_group p{
		font-size: 16px;
		padding: 10px 2%;
	}

	.etapas_group:nth-of-type(2) img{
		margin-right: 0;
		float: none;
	}

	.etapas_single{
		float: none;
		width: 100%;
	}

	.etapas_group:nth-of-type(1) p{
		float: none;
		width: auto;
		margin: 0;
		font-size: 18px;
	}

	.etapas_group:nth-of-type(2) p{
		float: none;
		width: auto;
		margin: 0;
		font-size: 18px;
	}

	.etapas_group:nth-of-type(3) p{
		float: none;
		width: auto;
		margin: 0;
		font-size: 18px;
	}

	section.comparacao .container > h2{
		font-size: 25px;
	}
}

@media screen and (max-width: 625px){
	.etapas_group2-parent{
		display: none;
	}
}

@media screen and (max-width: 580px){

	section.header-master{
		min-height: 800px;
	}

	.content-header .one h2{
		font-size: 32px;
	}

	.content-header .one p{
		font-size: 14px;
	}

	.content-header .one form input[type=email]{
		width: 80%;
		height: 45px;
		border-radius: 100px;
		display: block;
		margin: 0 auto;
	}

	.content-header .one form input[type=submit]{
		margin-top: 10px;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		display: block;
		border-radius: 30px;
	}

	.texto-sobre > h2{
		max-width: 380px;
		font-size: 26px;
		margin-bottom: 20px;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.texto-sobre > p{
		margin-left: auto;
		margin-right: auto;
		font-size: 14px;
		max-width: 400px;
	}

	.texto-sobre > h3{
		font-size: 22px;
		margin-bottom: 20px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		max-width: 390px;
	}

	.etapas_group img{
		margin-right:0;
		width: 50%;
		float: none;
	}

	.etapas_group p{
		font-size: 12px;
	}

	.comparacao-single:nth-of-type(1){
		border-right: none;
		border-bottom: 1px solid #646464;
	}

	.comparacao-parent{
		display: flex;
		flex-wrap: wrap;
	}

	.comparacao-single{
		width: 100%;
		text-align: center;
		padding: 30px 0;
	}

	section.comparacao .container > h2{
		font-size: 23px;
		padding: 0 25px;
	}

}